.contact-form {
  display: inline-block;
  flex: 2;
}
  
.contact-form-content {
  padding: 2rem;
}
  
.contact-form-title {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer; 
}

.contact-form-input {
  margin-top: 1rem;
  padding: 0.5rem;
  display: block;
  border: none;
  width: 100%;
  transition: 0.1s;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.contact-form-input:hover {
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.contact-form-text-area {
  margin-top: 1rem;
  min-height: 10rem;
  border: none;
  width: 100%;
  padding: 1rem;
  min-width: 100%;
  max-width: 5rem;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.contact-form-text-area:hover {
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.contact-form-send-button {
  margin-top: 1rem;
  padding: 0.7rem;
  border: none;
  width: 100%;
  text-align: center;
  background-color: rgb(250, 242, 250); 
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
  cursor: pointer; 
}

.contact-form-send-button:hover {
  transition: 0.1s;
  background-color: rgb(252, 239, 252);
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}