@media only screen and (max-width: 414px){

    .navigation {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1000;
        width: 100%;
        padding: 1rem;
        background-color: rgb(250, 242, 250);
    }

    .drop-down {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(250, 242, 250);
        font-size: 12px;
        top: 0;
        -webkit-font-smoothing: antialiased;
        z-index: 200;
        transform: translateY(-100%);
        transition: transform 0.5s ease-out;
    }

    .drop-down.open {
        transform: translateY(0);
    }

    .drop-down-text-div {
        margin-top: 3rem;
    }

    .drop-down-text {
        margin-left: 3rem;
        padding: 0.2rem;

    }

    .drop-down-text:active {
        color: #e79dbc;
        transition: 0.2s;
    }

    .drop-down-text:hover {
        color: #e79dbc;
        transition: 0.2s;
    }

    .app-name {
        margin-left: 1rem;
    }

    .mobile-user-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 4rem;
    }

    .auth-links {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .profile-icon, .auth-icon  {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
    }

    .navigation-links, .user-info {
        display: none;
    }

}