@media only screen and (max-width: 414px){

    .drop-down {
        height: 100%;
        width: 200px;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        position: fixed;
        /* font-family: "Raleway-Thin"; */
        background-color: white;
        font-size: 12px;
        top: 0;
        /* left: 0; */
        -webkit-font-smoothing: antialiased;
        z-index: 200;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
    }

    .drop-down-text-div {
        margin-top: 4rem;
    }

    .drop-down.open {
        transform: translateX(0);
    }

    .drop-down-text {
        margin-left: 1rem;
        padding: 0.2rem;
    }

    .drop-down-text:hover {
        color: #e44c8b;
        transition: 0.2s;
    }

    .drop-down-text:active {
        color: #e44c8b;
        transition: 0.2s;
    }

    /* .toggle-button {
        display: none;
    } */

}