@media only screen and (min-width: 451px) {

.icon-bar {
  position: fixed;
  top: 50%;
  float:right;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/* Style the icon bar links */
.icon-bar a {
  display: block;
  padding: 1rem;
  transition: all 0.3s ease;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: rgb(252, 239, 252);
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.sm-icon {
  width: 1.3rem;
  height: auto;
}

.facebook {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.twitter {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.instagram {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.pinterest {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}


}

@media only screen and (max-width: 450px) {
  .icon-bar {
    margin: 0 auto -142px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 300;
    font-size: 10px;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    padding: 1rem;
    bottom: 5%;
    transition: all 0.3s ease;
    font-size: 20px;
    z-index: 1000;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: rgb(252, 239, 252);
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
  }
  
  .sm-icon {
    width: 1.3rem;
    height: auto;
  }
  
  .facebook {
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  }
  
  .twitter {
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  }
  
  .instagram {
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  }
  
  .pinterest {
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  }
}