.auth{
    margin-top: 5rem;
  }

  .auth-button{
    cursor: pointer;
    width: 7rem;
    height: 2rem;
    border: none;
      text-align: center;
      background-color: rgb(250, 242, 250);
      -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
  }

  .auth-button:hover {
    background-color: rgb(252, 239, 252);
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px white);
    filter: drop-shadow(5px 5px 5px white);
    }

    .auth-container {
margin-top: 5rem;
    }