    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *:focus {
        outline: none;
    }
    
    .navigation {
        display: inline-flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        z-index: 1000;
        padding: 2rem;
        background-color: rgb(250, 242, 250);
    }

    .app-name {
        margin-left: 3rem;
        width: 33%;
    }

    .navigation-links {
        display: flex;
        justify-content: space-evenly;
        width: 33%;
    }

    .navigation-text {
        font-size: 10px;
    }

    .navigation-text:hover {
        color: #e79dbc;
        transition: 0.2s;
        cursor: pointer;
    }

    .navigation-text:active {
        color: #e79dbc;
        transition: 0.2s;
    }

    .drop-down {
        display: none;
    }

    .toggle-button {
        display: none;
    }

    .auth-links {
        font-size: 12px;
        display: flex;
        flex-direction: row;
    }

    .user-info {
        display: flex;
        justify-content: flex-end;
        margin-right: 3rem;
        width: 33%;
    }

    .profile-icon, .auth-icon  {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        margin-right: 0.5rem;
    }
