@media only screen and (max-width: 414px){
/* 
    @font-face {
        font-family: "Raleway-Regular";
        src: local("Raleway-Regular"), url(../fonts/Raleway-Regular.ttf);
    }
    
    @font-face {
        font-family: "Raleway-Thin";
        src: local("Raleway-Thin"), url(../fonts/Raleway-Thin.ttf);
    }
    
    @font-face {
        font-family: "Raleway-SemiBold";
        src: local("Raleway-SemiBold"), url(../fonts/Raleway-SemiBold.ttf);
    } */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    *:focus {
        outline: none;
    }

    .navigation {
        position: sticky;
        width: 100%;
        z-index: 1000;
    }

    .navigation-text {
        display: none;
        font-size: 14rem;
    }


}
