@media only screen and (min-width: 601px) {
    .text-content-container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 4rem;
        background-color: white;
        height: auto;
        min-height: 100%;
    }

    .text-content-title {
        margin-bottom: 2rem;
        margin-left: 0;
    }

    ul {
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {

    .text-content-container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 3rem;
        background-color: white;
        height: auto;
        min-height: 49rem;
        padding-bottom: 8rem;
    }
    
    .text-content-title {
        margin-bottom: 2rem;
        margin-left: 0;

    }
    
    ul {
        padding: 1rem;
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    
}
    