@media only screen and (max-width: 414px){


.text-content-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2rem;
    background-color: white;
    height: auto;
    min-height: 720px;
}

.text-content-title {
    margin-bottom: 2rem;
    padding: 0;
}

ul {
    padding: 1rem;
}

}


@media only screen and (min-width: 415px){


    .text-content-container{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 3rem;
        background-color: white;
        height: auto;
        min-height: 49rem;
        padding-bottom: 8rem;
    }
    
    .text-content-title {
        margin: 1rem;
        margin-bottom: 3rem;
        padding: 0;
    }
    
    ul {
        padding: 1rem;
    }

    h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    
    
    }
    