* {
  margin: 0;
  padding: 0;
  text-decoration: none; 
  font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
}

  
*:focus {
  outline: none;
}

html {
  background-color: rgb(250, 242, 250);
}

.navigation {
  background-color: rgb(250, 242, 250);
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 97%;
  z-index: 1000;
  padding: 2rem;
  height: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover 
{
   color: pink; 
   transition: 0.2s;
   text-decoration:none; 
   cursor:pointer;  
}

.nav-left, .nav-middle, .nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;

}

.content {
  padding-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.picture {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.store {
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 2rem;
  padding-bottom: 4rem;
}

.about {
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 1.5rem;
    padding: 2rem;
    /* margin-bottom: 4rem; */
}

.contact {
  background-color: white;
  /* padding: 2rem; */
}

.items-container {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 0fr));
  grid-gap: 0.5rem;
  justify-content: center;
}

.item {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));

}

.item:hover {
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

img {
  width: 10rem;
  height: 10rem;
}

.about-image {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
}

.duck-image {
  width: 20%;
  height: auto;
  position: absolute;
  left: 80px;
  margin-top: 5%;
  margin-left:33%;
   -webkit-filter: drop-shadow(5px 5px 5px #666666);
      filter: drop-shadow(5px 5px 5px #666666);
}

.cart-image {
  width: 2rem;
  height: 2rem;
  margin-bottom: -6px;
}

.nav-space {
  padding-right: 1rem;
}

.nav-space2 {
  padding-left: 3rem;
}

.logout-button, .login-button, .signup-button {
  width: 4rem;
  height: 2rem;
  border: solid 1px;
  border-radius: 2px;
  background-color: rgb(250, 242, 250);
}

.shop-button {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 300;
  width: 8rem;
  height: 3rem;
  border: solid 1px;
  border-radius: 2px;
  background-color: rgb(250, 242, 250); 
  text-align: center;
}

.shop-button:hover {
  background-color: rgb(252, 239, 252);
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}


.profile-image {
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}

.duck-studio {
  font-size: 48px;
  /* text-align: center; */
}