* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* @media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; 
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; 
  }
}

@media only screen and (min-width: 961px) { */


body, .app, #root, html {
  width: 100%;
  height: auto;
  background-color: rgb(250, 242, 250);
}

*:focus {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #EFCDCD; 
  transition: 0.2s;
  text-decoration:none; 
  cursor:pointer;  
}

.duck-studio-name {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  width: auto;
}

.default {
  margin-top: 5rem;
}

.auth {
  width: 7rem;
  height: 2rem;
  border: solid 1px;
  border-radius: 2px;
  background-color: rgb(250, 242, 250);
  text-align: center;
}

.item {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 2rem;
  justify-self: center;
  border: 1px;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.item > h3 {
  align-self: flex-start;
  text-decoration: none; 
  margin-top: 2.5rem;
  font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
}

.item > h4 {
  flex: 0 1 auto;
  align-self: flex-start;
  text-decoration: none; 
  font: normal normal normal 16px/1.4em proxima-n-w01-reg,sans-serif;
}

.item-info-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.item-info-image {
  align-content: center;
}

.item-info-left {
  display: flex;
  margin-top: 3rem;
  min-width: 20rem;
  justify-content: center;
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
  padding-top: 0;
}

.item-info-middle {
  display: flex;
  width: 5rem;
}

.item-info-right {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3rem;
  margin-right: 10rem;
}

.item-text > h3 {
  margin-bottom: 0.5rem;
}

.item-text > h4 {
  margin-bottom: 2rem;
}

/* .questions {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;

} */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.popup {
  padding: 2rem;
  background: #fff;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  /* margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative; */
  /* transition: all 5s ease-in-out; */
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: pink;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  padding: 1rem;
}

.additional-info {
  display: flex;
  flex-direction: row;
  flex: 1;
margin-top: 6rem;
width: 50%;
min-width: 45rem;

}

.additional-info > * {
  margin: 0 8px;
}

.divider {
  border: solid 0.5px;
  background: gray;
}

.column {
  flex: 0 1 auto;
  width: 33%;
  text-align: justify;
}

.column > h3 {
  margin-bottom: 2rem;
}

.store-duck-image {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
  align-self: center;
}

.add-button {
  padding: 0.7rem;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: rgb(250, 242, 250); 
  text-align: center;
}

.add-button:hover {
  background-color: rgb(252, 239, 252);
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.nav {
  background-color: rgb(250, 242, 250);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  padding: 3rem;
  height: 1rem;
  /* margin-top: -3rem; */
}

h3 {
  font-weight: 300;
}

.nav-left {
  display: flex;
  flex: 1;
  max-width: 20%;
  align-items: center;
}

.nav-middle {
  display: flex;
  flex: 2;
  max-width: 20%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.nav-right {
  display: flex;
  flex: 3;
  max-width: 20%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.cart-icon {
  margin-left: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  justify-self: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 2rem;
  font-weight: 300;
  margin-left: 30rem;
  margin-right: 30rem;
  font-size: 10px;
}

.app-content {
  padding-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.payment-form, .cart, .login, .signup {
  margin-top: 5rem;
}

.about {
  position: relative;
  display: flex; 
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

.item-delete-button {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.cart-item {
  display: flex;
  min-width: 20rem;
  justify-content: center;
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
  padding-top: 0;
}


.checkout-item {
    display: flex;
    min-width: 20rem;
    justify-content: center;
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
    padding-top: 0;
}

.checkout-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart-item-div {
  display: flex;
  justify-content: space-between;
}

.checkout-item-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.item-counter {
  margin-top: 1rem;
  display: flex;
}

.counter-button {
display: flex;
justify-content: center;
border: 0.2px rgb(255, 252, 252) solid;
  width: 2rem;
  height: 2rem;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}


.hover:hover {
  cursor: pointer;
  transition: 0.1s;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);

}

.item-delete-button {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.item-save-button {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.item-delete-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(248, 112, 112);
    -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  }

  .item-save-button {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
      width: auto;
      height: auto;
      border: none;
      background-color: rgb(156, 156, 226);
      -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
      filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    }

    .item-save-button:hover {
      cursor: pointer;
      background-color: rgb(129, 129, 228);
      transition: 0.1s;
      -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
      filter: drop-shadow(5px 5px 5px #c5c5c5);
    
    }

  .checkout {
    display: flex;
  margin-top: 1rem;
  padding: 3rem;
  background-color: white;
  height: auto;
  min-height: 49rem;
  }

  .checkout-items {
      display: grid;
      margin-top: 4rem;
      margin-left: 0rem;
      grid-template-columns: 20rem;
      grid-gap: 3rem;
      justify-content: center;
      /* margin-top: 1rem;
      padding: 3rem;
      background-color: white;
      height: 49rem; */
      position: relative;
  }

  .checkout-payment {
    margin-top: 4rem;
    margin-left: 3rem;
  }


  .checkout-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
      width: auto;
      height: auto;
      border: none;
      background-color: rgb(138, 206, 138);
      -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
      filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
    }

    .checkout-button:hover {
      cursor: pointer;
      background-color: green;
      transition: 0.1s;
      -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
      filter: drop-shadow(5px 5px 5px #c5c5c5);
    
    }
  
  .item-delete-button:hover {
    cursor: pointer;
    background-color: red;
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
  
  }


  .checkout-button-q {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
      width: 100%;
      height: auto;
      border: none;
      transition: 0.1s;
      background-color: white;
      -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
      filter: drop-shadow(5px 5px 5px #c5c5c5);
    }

    /* .checkout-button-q:hover {
      cursor: pointer;
      transition: 0.1s;
      background-color: white;
      -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
      filter: drop-shadow(5px 5px 5px #c5c5c5);
    
    } */

.item-links {
  display: flex;
  flex-direction: row;
}

.loading-container > h3 {
  margin-top: 1rem;
}

.item-info-container, .loading-container {
  margin-top: 1rem;
  padding: 3rem;
  background-color: white;
  height: auto;
  min-height: 49rem;
  /* background-color: white;
  -moz-box-shadow:    3px 3px 5px 6px rgb(221, 206, 217);
  -webkit-box-shadow: 3px 3px 5px 6px rgb(221, 206, 217);
  box-shadow:         3px 3px 5px 6px rgb(221, 206, 217);
  margin-top: 2.5rem;
  width: 100%;
  height: auto;
  min-height: 47rem;
  padding: 5rem; */
}


.items-container {
  display: grid;
  margin-top: 1rem;
  margin-left: 0rem;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 0.5rem;
  justify-content: center;
  /* margin-top: 1rem;
  padding: 3rem;
  background-color: white;
  height: 49rem; */
  position: relative;
}

.other {
    position: fixed;
    top: 25%;
    float:right;
    right: 12rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.checkout-other {
  position: fixed;
  top: 30%;
  float:right;
  right: 12rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
display: flex;
flex-direction: column;
}

.store {
  background-color: white;
  margin-bottom: 1.5rem;
  padding: 2rem;
  padding-bottom: 4rem;
}



.main-image-container {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.watercolors-image {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.video {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-duck-image {
  position: absolute;
  width: 20%;
  height: auto;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
}



.cart-icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: -6px;
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 2px;
}

.item-cart-container {
  display: flex;
  margin-top: 1rem;
  padding: 3rem;
  background-color: white;
  height: auto;
  min-height: 49rem;
  padding-bottom: 8rem;
}

.items-container2 {
  display: grid;
  margin-top: 4rem;
  margin-left: 0rem;
  grid-template-columns: 20rem;
  grid-gap: 3rem;
  justify-content: center;
  /* margin-top: 1rem;
  padding: 3rem;
  background-color: white;
  height: 49rem; */
  position: relative;
}


.cart {
  display: grid;
  margin-top: 5rem;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 0.5rem;
  justify-content: center;
}



.item:hover {
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.logout-button, .login-button, .signup-button {
  width: 4rem;
  height: 2rem;
  border: solid 1px;
  border-radius: 2px;
  background-color: rgb(250, 242, 250);
}

.shop-button {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 300;
  width: 12rem;
  height: 3rem;
  border: none;
  background-color: rgb(250, 242, 250); 
  text-align: center;
}

.shop-button:hover {
  background-color: rgb(252, 239, 252);
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.option-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option-button {
  margin-top: 1rem;
  width: 10rem;
  padding: 1rem;
  font-weight: 300;
  border: none;
  background-color: rgb(250, 242, 250); 
  text-align: center;
}

.option-button:hover {
  background-color: rgb(252, 239, 252);
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.loading {
  margin-top: 5rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: relative;
}

.map {
  opacity: 0.7;
  /* top: 0;
  left: 0; */
}

.contact-form {
  display: inline-block;
  flex: 2;
  /* width: 35%; */
  /* height: auto;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); */
}

.form-content {
  padding: 2rem;
}

.form-title {
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-input {
  margin-top: 1rem;
  padding: 0.5rem;
  display: block;
  border: none;
  width: 100%;
  transition: 0.1s;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.form-text-area {
  margin-top: 1rem;
  min-height: 10rem;
  border: none;
  width: 100%;
  padding: 1rem;
  min-width: 100%;
  max-width: 5rem;
  transition: 0.1s;
  background-color: white;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.form-send-button {
  margin-top: 1rem;
  padding: 0.7rem;
  align-self: center;	
  border: none;
  width: 100%;
  transition: 0.1s;
  background-color: rgb(250, 242, 250); 

}

.form-send-button:hover {
	cursor: pointer;
}


.form-input:hover {
  background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.form-text-area:hover {
  background-color: white;
    -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.form-send-button:hover {
    background-color: rgb(252, 239, 252);
    transition: 0.1s;
    -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
    filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.icon-bar {
  position: fixed;
  top: 50%;
  float:right;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html::-webkit-scrollbar {
  display: none;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  padding: 1rem;
  transition: all 0.3s ease;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: rgb(252, 239, 252);
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px #c5c5c5);
  filter: drop-shadow(5px 5px 5px #c5c5c5);
}

.sm-icon {
  width: 1.3rem;
  height: auto;
}

.facebook {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.twitter {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.instagram {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

.pinterest {
  transition: 0.1s;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
  filter: drop-shadow(5px 5px 5px rgb(250, 242, 250));
}

























/* } */

